{{#> layout}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://image.tmdb.org/t/p/w185{{poster_path}}">
                </div>
                <div class="col-md-6">
                    <h3><b>Name:</b> {{actorName}}</h3>
                    <p><b>Biography:</b> {{biography}}</p>
                </div>
            </div>
            <div class="row">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Movie Character</th>
                            <th>&nbsp;</th>
                            <th>Movie Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each characters}}
                            <tr>
                                <td>{{character}}</td>
                                <td><a href="/movies/{{id}}"><img width="20" src="https://image.tmdb.org/t/p/w185{{poster_path}}"></a></td>
                                <td><a href="/movies/{{id}}">{{title}}</a></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{/layout}}