{{#> layout}}
<div class="container">
    <h3>Favourites</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                            <!-- <th>favourites id</th>-->
                                <th>Favourites</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>    
                        <tbody>
                            
                            {{#each user.favourites}}
                            
                            <tr>
                                <td><a href="/favouritesDetails/{{this.name}}">{{this.name}}</a></td>
                                <td><a href="/favouritesDetails/{{this.name}}" class="btn btn-default btn-sm">Edit</a></td>
                                <!--<td><a href="/favourite/delete/{{this.name}}" class="btn btn-default btn-sm">Delete</a></td>-->
                                <td>
                                    <input type="hidden" value="{{this.name}}" id="favouriteName"  name="favouriteName">
                                    <input id="submit" type="button"  onclick="deleteFavourites(this)" value="Delete">
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{/layout}}