{{#> layout}}
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="https://image.tmdb.org/t/p/w185{{poster_path}}">
                </div>
                <div class="col-md-6">
                    <h3> {{movieName}}</h3>
                    {{#each directors}}<p> Director: {{directorName}}</p>{{/each}}
                    <p>Overview: {{overview}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Actor Name</th>
                                <th>Characther</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each actors}}
                            <tr>
                                <td><a href="/actors/{{actorId}}">{{actorName}}</a></td>
                                <td>{{actorCharacter}}</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{#if user}}
                    <div class="col-md-7" id="comments">
                        <div class="detailBox">
                            <label>Comment Box</label>
                            <div class="actionBox">
                                <ul class="commentList" id="movieCommentsList">
                                    {{#each comments}}
                                        <li class="comments" id="newComment">
                                            <div class="commenterImage">
                                                <h6>Comment post by: {{user.username}}</h6>
                                            </div>
                                            <div class="commentText">
                                                <p>{{comment}}</p>
                                            </div>
                                            {{#each response}}
                                                <div class="commenterImage">
                                                    <h6>Comment post by: {{user.username}}</h6>
                                                </div>
                                                <div class="commentText">
                                                    <p>{{comment}}</p>
                                                </div>
                                            {{/each}}
                                        </li>    
                                    {{/each}}
                                </ul>
                                <form id="formMovieComment" class="form-inline" onsubmit="addNewMovieComment('formMovieComment'); return false;">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Your comments" name="comment"/>
                                        <input type="hidden" value="{{movieId}}"  name="movieId">
                                        <input type="hidden" value="{{commentId}}"  name="commentId">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default">Comment</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
{{/layout}}