{{#> layout}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <img src="/images/user.jpg" class="img-thumbnail" alt="userImage" width="304" height="236"> 
                </div>
                <div class="col-md-4">    
                    <h4><b>Username:</b></h4> {{user.username}}
                    <h4><b>Email:</b></h4> {{user.email}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <!--<th>favourites id</th>-->
                                <th>Favourites</th>
                            </tr>
                        </thead>    
                        <tbody>
                            
                            {{#each user.favourites}}
                            <tr>
                                <td><a href="/favouritesDetails/{{this.name}}">{{this.name}}</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <!--<th>favourites id</th>-->
                                <th>All Comments</th>
                            </tr>
                        </thead>    
                        <tbody>
                            {{#each user.comments}}
                            <tr>
                                <td><a href="/movies/{{this.movieId}}">{{this.commentText}}</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{/layout}}